1.	Reshape the series ser into a dataframe with 7 rows and 5 columns

In [2]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  6  8  7  8  9
1  1  4  9  7  2
2  6  6  6  9  4
3  1  6  7  6  7
4  3  9  5  5  3
5  6  4  5  9  2
6  2  8  9  3  1

2.	Find the positions of numbers that are multiples of 3 from ser.

In [3]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser%3==0)

0    7
1    5
2    4
3    5
4    9
5    9
6    1
dtype: int32

array([[4],
       [5]], dtype=int64)

3.	From ser, extract the items at positions in list pos.

In [4]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

4.	Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [5]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
#output
#vertical
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
#output
#horizontal
df=pd.concat([ser1,ser2],axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

5.	Get the positions of items of ser2 in ser1 as a list.

In [7]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
#Solution-1
[np.where(i==ser1)[0].tolist()[0]for i in ser2]

[5, 4, 0, 8]

In [8]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
#Solution-2
[pd.Index(ser1).get_loc(i)for i in ser2]

[5, 4, 0, 8]

6.	Compute the mean squared error of truth and pred series.

In [9]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.44567793185246474

7.	Change the first character of each word to upper case in each word of ser.

In [10]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
#Solution-1
ser.map(lambda x:x.title())

0      How
1       To
2    Write
3    Code?
dtype: object

In [11]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
#Solution-2
ser.map(lambda x:x[0].upper() + x[1:])

0      How
1       To
2    Write
3    Code?
dtype: object

In [12]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
#Solution-3
pd.Series([i.title() for i in ser])

0      How
1       To
2    Write
3    Code?
dtype: object


8.	Calculate the number of characters in each word in the following series

In [13]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:len(x))

0    3
1    2
2    5
3    5
dtype: int64

9.	Compute difference of differences between consequtive numbers of the following series?

In [14]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

10.	Convert the following series of date-strings to a timeseries?

In [15]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
#Solution-1
from dateutil.parser import parse
ser.map (lambda x:parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [16]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
#Solution-2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

11.	Get the day of month, week number, day of year and day of week from ser.

In [18]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser_ts=ser.map(lambda x:parse(x))
#day of the month
print("Date:", ser_ts.dt.day.tolist())

Date: [1, 2, 3, 4, 5, 6]

In [25]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser_ts=ser.map(lambda x:parse(x))
#week number
print("Week number:",ser_ts.dt.weekofyear.tolist())
#day of the year
print("Day number of year:", ser_ts.dt.dayofyear.tolist())
#day of the week
print("Day of week:", ser_ts.dt.weekday_name.tolist())

Week number: [53, 5, 9, 14, 19, 23]
Day number of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

12.	Change ser to dates that start with 4th of the respective months.

In [35]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
#Solution-1
from dateutil.parser import parse
#Parse the date
ser_ts=ser.map(lambda x:parse(x))
#Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str')+'-'+ser_ts.dt.month.astype('str')+'-'+'04'
print(ser_datestr)
#Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]
#Solution-2
ser.map(lambda x:parse('04'+x))

0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

13.	From ser, extract words that contain atleast 2 vowels.

In [36]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask = ser.map(lambda x:sum([Counter(x.lower()).get(i,0) for i in list('aeiou')])>=2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

14.	Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [37]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#Solution 1(as series of strings)

import re 
pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask=emails.map(lambda x:bool(re.match(pattern,x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [39]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#Solution 2 (as series of list)
emails.str.findall(pattern,flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [40]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#Solution 3(as list)
[x[0] for x in [re.findall(pattern,email) for email in emails] if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

15.	 Compute the mean of weights of each fruit.

In [42]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'apple', 'banana', 'carrot', 'banana']

apple     4.25
banana    9.00
carrot    5.00
dtype: float64